<!--
Copyright 2019 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div [ngClass]="'dialog-heading-margin-bottom'">{{heading}}</div>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">


  <mat-form-field class="full-width">
    <input matInput #clusterName placeholder="Cluster Name"
           formControlName="clusterName">
    <mat-hint *ngIf="formErrors.clusterName" class="alert-danger">
      {{formErrors.clusterName}}
    </mat-hint>
    <mat-hint align="end">{{clusterName.value.length}} / {{maxCharsForName}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput #clusterDescription rows="5" placeholder="Description"
              formControlName="clusterDescription">
    </textarea>
    <mat-hint *ngIf="formErrors.clusterDescription" class="alert-danger">
      {{formErrors.clusterDescription}}
    </mat-hint>
    <mat-hint align="end">{{clusterDescription.value.length}} / {{maxCharsForDescName}}</mat-hint>
  </mat-form-field>


  <mat-form-field class="full-width">
    <input matInput #createdUser required="true" placeholder="Created User" formControlName="createdUser">
    <mat-hint *ngIf="formErrors.createdUser" class="alert-danger">
      {{formErrors.createdUser}}
    </mat-hint>
    <mat-hint align="end">{{createdUser.value.length}} / {{maxCharsForUserName}}</mat-hint>
  </mat-form-field>

  <br><br>

  <div class="dialog-footer">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button type="submit" color="primary" [disabled]="!createForm.valid">Create</button>
  </div>
</form>
