.main-container {
  position: relative;
}

.flex-container {
  padding: 10px;
}

:host /deep/ .mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) {
  padding: 1px 6px 1px 6px;
  border-radius: 4px;
}

.button-bar {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  vertical-align: middle;
  z-index: 10;
}

.button-bar-content {
  background: white;
  height: 65px;
  padding-top: 10px;
  padding-right: 10px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 30px;
}

:host /deep/ .field-row {
  margin-bottom: 22px;
  font-size: 14px;
}

:host /deep/ .mat-hint-multiline {
  top: 39px;
  width: 90%;
}

.mat-icon {
  font-size: 14px;
}

.info {
  font-size: 12px;
  color: rgb(63, 81, 181);
}

.example-full-width {
  width: 100%;
}
