/*
 * Copyright 2019 PayPal Inc.
 *
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.account-name-list-item /deep/ .mat-list-item {
  color:#ccc;
  cursor: initial;
  background: none;
}

:host /deep/ [mat-icon-button]:hover::after {
  border-radius: initial;
}

:host /deep/ button, a, app-changelog-root button {
  mat-icon {
    opacity: 1;
  }

  &:hover {
    mat-icon {
      opacity: 1;
    }
  }
}

.annocement-container {
  position: relative;
}

/* svg icon in mat-list is not aligned with normal material icon, temp fix */
.list-svg-icon {
  width: 75px !important;
}

.text-align-helper {
  text-align: left;
}

.user-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

//.min-nav.hover {
//  background-color: #2e3b4c;
//}
