<!--
Copyright 2019 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div class="app-top-container">
  <div class="app-container">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
      <div fxFlex="100" class="main-container">
        <mat-card>
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="50%" *ngIf="!projectLoaded">
                <h4>Datastore Types</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select class="long_dropdown" placeholder="Loading..." disabled></mat-select></mat-form-field>
                <button mat-icon-button class="action-btn grey-btn" disabled>
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>

              <div fxFlex="50%" *ngIf="loaded && projectLoaded">
                <h4>Datastore Types</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select [(ngModel)]="projectName" (ngModelChange)="disableDropDown()"
                                                                   placeholder="Datastore Types"
                                                                   class="long_dropdown">
                  <mat-option *ngFor="let row of displayList" [value]="row.storageTypeName">{{ row.storageTypeName }}</mat-option>
                </mat-select></mat-form-field>
                <span *ngIf="projectName">
                  <button mat-icon-button class="action-btn grey-btn" mat-tooltip="Refresh Types"
                          (click)="refreshProject()">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
                <span *ngIf="!projectName">
                  <button mat-icon-button class="action-btn grey-btn" disabled>
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
              </div>
              <div fxFlex="50%" *ngIf="!loaded && projectLoaded">
                <h4>Datastore Types</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select class="long_dropdown" placeholder={{projectName}} disabled></mat-select></mat-form-field>
                <button mat-icon-button class="action-btn grey-btn" disabled>
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div fxFlex="50%" *ngIf="!zonesLoaded">
                <h4>Zone</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select class="long_dropdown" placeholder="Loading..." disabled></mat-select></mat-form-field>
                <button mat-icon-button class="action-btn grey-btn" disabled>
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>

              <div fxFlex="50%" *ngIf="zloaded && zonesLoaded">
                <h4>Zone</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select [(ngModel)]="zone" (ngModelChange)="disableDropDownZone()"
                                                                   placeholder="Zone"
                                                                   class="long_dropdown">
                  <mat-option *ngFor="let row of displayZoneList" [value]="row.zoneName">{{ row.zoneName }}</mat-option>
                </mat-select></mat-form-field>
                <span *ngIf="zone">
                  <button mat-icon-button class="action-btn grey-btn" mat-tooltip="Refresh Zones"
                          (click)="refreshZone()">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
                <span *ngIf="!zone">
                  <button mat-icon-button class="action-btn grey-btn" disabled>
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
              </div>
              <div fxFlex="50%" *ngIf="!zloaded && zonesLoaded">
                <h4>Zone</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select class="long_dropdown" placeholder={{zone}} disabled></mat-select></mat-form-field>
                <button mat-icon-button class="action-btn grey-btn" disabled>
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>

              <div fxFlex="50%" *ngIf="!entitiesLoaded">
                <h4>Entity</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select class="long_dropdown" placeholder="Loading..." disabled></mat-select></mat-form-field>
                <button mat-icon-button class="action-btn grey-btn" disabled>
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>

              <div fxFlex="50%" *ngIf="eloaded && entitiesLoaded">
                <h4>Entity</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select [(ngModel)]="entity" (ngModelChange)="disableDropDownEntity()"
                                                                   placeholder="Entity"
                                                                   class="long_dropdown">
                  <mat-option *ngFor="let row of displayEntityList" [value]="row.entityName">{{ row.entityName }}</mat-option>
                </mat-select></mat-form-field>
                <span *ngIf="entity">
                  <button mat-icon-button class="action-btn grey-btn" mat-tooltip="Refresh Zones"
                          (click)="refreshEntity()">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
                <span *ngIf="!entity">
                  <button mat-icon-button class="action-btn grey-btn" disabled>
                    <mat-icon>refresh</mat-icon>
                  </button>
                </span>
              </div>
              <div fxFlex="50%" *ngIf="!eloaded && entitiesLoaded">
                <h4>Entity</h4>
                <mat-form-field [floatLabel]="'never'"><mat-select class="long_dropdown" placeholder={{entity}} disabled></mat-select></mat-form-field>
                <button mat-icon-button class="action-btn grey-btn" disabled>
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div fxFlex="100%">
                <img class="udc_logo pull-right" src="assets/images/udc-logo.png">
              </div>
            </div>
          </div>
          <br/>
          <mat-tab-group>
            <mat-tab label="Datastores">
              <app-catalog-system-list [project]="projectName" [refresh]="refresh" (loaded)=enableDropDown()
                                       [zone]="zone" [zrefresh]="refreshZoneList" (zloaded)=enableDropDownZone()
                                       [entity]="entity" [erefresh]="refreshEntityList" (eloaded)="enableDropDownEntity()">
            </app-catalog-system-list>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
