<!--
Copyright 2019 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div [ngClass]="'dialog-heading-margin-bottom'">{{heading}}</div>
<form [formGroup]="createForm">

  <input type="file" (change)="changeListener($event.target.files)" multiple="false" />

  <div *ngIf="data.length > 0">
  <ngx-datatable
        class='material notification-datatable'
        [rows]='data'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
        (page)="onPage($event)">
        <ngx-datatable-column name="storageSystemName">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-storageSystemName'] = true"
                *ngIf="!editing[rowIndex + '-storageSystemName']">
                {{row.storageSystemName}}
              </span>
            <input
              autofocus
              (blur)="updateValue($event, 'storageSystemName', rowIndex)"
              *ngIf="editing[rowIndex + '-storageSystemName']"
              type="text"
              [value]="row.storageSystemName"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="objectName">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-objectName'] = true"
                *ngIf="!editing[rowIndex + '-objectName']">
                {{row.objectName}}
              </span>
            <input
              autofocus
              (blur)="updateValue($event, 'objectName', rowIndex)"
              *ngIf="editing[rowIndex + '-objectName']"
              type="text"
              [value]="row.objectName"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="containerName">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-containerName'] = true"
                *ngIf="!editing[rowIndex + '-containerName']">
                {{row.containerName}}
              </span>
            <input
              autofocus
              (blur)="updateValue($event, 'containerName', rowIndex)"
              *ngIf="editing[rowIndex + '-containerName']"
              type="text"
              [value]="row.containerName"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="objectComment">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-objectComment'] = true"
                *ngIf="!editing[rowIndex + '-objectComment']">
                {{row.objectComment}}
              </span>
            <input
              autofocus
              (blur)="updateValue($event, 'objectComment', rowIndex)"
              *ngIf="editing[rowIndex + '-objectComment']"
              type="text"
              [value]="row.objectComment"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="providerName">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-providerName'] = true"
                *ngIf="!editing[rowIndex + '-providerName']">
                {{row.providerName}}
              </span>
            <input
              autofocus
              (blur)="updateValue($event, 'providerName', rowIndex)"
              *ngIf="editing[rowIndex + '-providerName']"
              type="text"
              [value]="row.providerName"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="columnName">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-columnName'] = true"
                *ngIf="!editing[rowIndex + '-columnName']">
                {{row.columnName}}
              </span>
            <input
              autofocus
              (blur)="updateValue($event, 'columnName', rowIndex)"
              *ngIf="editing[rowIndex + '-columnName']"
              type="text"
              [value]="row.columnName"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="columnComment">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
              <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-columnComment'] = true"
                  *ngIf="!editing[rowIndex + '-columnComment']">
                  {{row.columnComment}}
                </span>
              <input
                autofocus
                (blur)="updateValue($event, 'columnComment', rowIndex)"
                *ngIf="editing[rowIndex + '-columnComment']"
                type="text"
                [value]="row.columnComment"
              />
            </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  <div class="dialog-footer">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button type="submit" color="primary" (click)="uploadDatasetDescription()" [disabled]="data.length < 1">Submit</button>
  </div>


</form>
