/*
 * Copyright 2019 PayPal Inc.
 *
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

mat-nav-list {
  padding-top: 0;
}

:host /deep/ .mat-list-item-content {
  height: auto !important;
  &:hover {
    background: transparent !important;
  }
}

.side-nav-list {
  position: relative;
  z-index: 2;
}

.side-nav-list mat-list-item {
  background: transparent;
}


.side-nav-list mat-list-item {
  color: white;

  &.active {
    background: white;
  }

  h3 {
    font-size: 18px;
    line-height: 1.618;

    &.sidenav-header-text {
      font-size: 20px;
    }
  }

  mat-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
  }

  &:hover {
    font-size: 16px;
  }

  .mat-ripple:focus {
    outline: none;
  }
}

.sidenav-header-logo {
  width: 32px;
  padding: 0;
}

.mat-nav-list .mat-subheader.selected-app-subheader {
  color: white;
}

.selected-app-subheader.uppercase {
  text-transform: uppercase;
}

.selected-app-subheader.appname {
  margin-top: -26px;
}

.sidenav-header {
  padding-left: 10px;
}

:host /deep/ .mat-list-item-content {
  transform-origin: left;
}

:host /deep/ .mat-list-text {
  padding: 15px 41px !important;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item {
  &:focus {
    outline: none;
  }
}
