<div [ngClass]="'dialog-heading-margin-bottom'">{{heading}}</div>
<form [formGroup]="editTypeForm">

  <ngx-datatable
    #typeAttributesTable
    class="material"
    [headerHeight]="50"
    [limit]="5"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="systemAttributes">
    <ngx-datatable-column name="Attribute Key ID" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.storageSystemAttributeValueId }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Attribute Key" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.storageDsAttributeKeyName }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Attribute Value" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.storageSystemAttributeValue }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>

  <div class="dialog-footer">
    <button md-button type="button" color="primary" (click)="cancel()">Close</button>
  </div>
</form>
