<!--
Copyright 2019 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div [ngClass]="'dialog-heading-margin-bottom'">{{heading}}</div>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div>

    <div fxLayout="row" fxLayoutAlign="start start" class="field-row appname-row">
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select *ngIf="!entityLoading" required placeholder="Assigned Entity"
                      formControlName="entity">
            <mat-option *ngFor="let entity of entityList" [value]="entity">
              {{ entity['entityName'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="entityLoading"></mat-progress-bar>
      </div>
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select *ngIf="!dbLoading" required placeholder="Storage Type"
                      formControlName="storageType" (selectionChange)="onStorageTypeChange()">
            <mat-option *ngFor="let storageType of storageTypes" [value]="storageType">
             {{ storageType['storageTypeName'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="dbLoading"></mat-progress-bar>
      </div>
    </div>
    <mat-form-field class="full-width">
      <input matInput #storageSystemName placeholder="System Name" style="padding-left: 10px;"
             formControlName= "storageSystemName">
      <span matPrefix style="padding-bottom: 2px">
        <mat-chip-list>
          <span *ngIf="selectedStorageType">
            <mat-chip selected [color]="availableColor.color">
              <span *ngIf="selectedStorageType" style="padding-left: 3px;">
                {{ selectedStorageType + "."}}
              </span>
            </mat-chip>
          </span>
      </mat-chip-list>
      </span>
      <mat-hint *ngIf="formErrors.storageSystemName" class="alert-danger">
        {{formErrors.storageSystemName}}
      </mat-hint>
      <mat-hint align="end">{{storageSystemName.value.length}} / {{maxCharsForName}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
    <textarea matInput #storageSystemDescription rows="3" placeholder="System Description"
              formControlName="storageSystemDescription">
    </textarea>
      <mat-hint *ngIf="formErrors.storageSystemDescription" class="alert-danger">
        {{formErrors.storageSystemDescription}}
      </mat-hint>
      <mat-hint align="end">{{storageSystemDescription.value.length}} / {{maxCharsForDescName}}</mat-hint>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start start" class="field-row appname-row">
      <div fxFlex="100" fxFlexAlign="center">
      <mat-form-field>
        <input matInput #containers required="true" placeholder="Containers" formControlName="containers">
        <mat-hint *ngIf="formErrors.containers" class="alert-danger">
          {{formErrors.containers}}
        </mat-hint>
        <mat-hint align="end">{{containers.value.length}} / {{maxCharsForUserName}}</mat-hint>
      </mat-form-field>
      </div>
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select required placeholder="Run Frequency" formControlName="discoverySla">
            <mat-option *ngFor="let discoverySla of frequencyList" [value]="discoverySla">
              {{discoverySla}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field class="half-width">
          <input matInput #createdUser required="true" placeholder="Created User" formControlName="createdUser">
          <mat-hint *ngIf="formErrors.createdUser" class="alert-danger">
            {{formErrors.createdUser}}
          </mat-hint>
          <mat-hint align="end">{{createdUser.value.length}} / {{maxCharsForUserName}}</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="field-row appname-row">
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select required placeholder="Is Read Supported" formControlName="isReadCompatible">
            <mat-option *ngFor="let isReadCompatible of compatibilityList" [value]="isReadCompatible">
              {{isReadCompatible}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select *ngIf="!zoneLoading" required placeholder="Assigned Zone"
                      formControlName="zone">
            <mat-option *ngFor="let zone of zoneList" [value]="zone">
              {{ zone['zoneName'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="zoneLoading"></mat-progress-bar>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="field-row appname-row">
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select *ngIf="!userLoading" required placeholder="Admin User"
                      formControlName="adminUser">
            <mat-option *ngFor="let adminUser of userList" [value]="adminUser">
              {{ adminUser['userName'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="userLoading"></mat-progress-bar>
      </div>
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select *ngIf="!clusterLoading" required placeholder="Cluster For the Discovery"
                      formControlName="cluster">
            <mat-option *ngFor="let cluster of clusterList" [value]="cluster">
              {{ cluster['clusterName'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="clusterLoading"></mat-progress-bar>
      </div>
      <div fxFlex="100" fxFlexAlign="center">
        <mat-form-field [floatLabel]="'never'">
          <mat-select *ngIf="!clusterLoading" required placeholder="Cluster For invoking queries"
                      formControlName="runningCluster">
            <mat-option *ngFor="let runningCluster of clusterList" [value]="runningCluster">
              {{ runningCluster['clusterName'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="clusterLoading"></mat-progress-bar>
      </div>
      <br>
    </div>
    <br>
    <br>
    <div>
      <h4>System Attributes</h4>
    </div>

    <ngx-datatable
      #typeAttributesTable
      class="material"
      [headerHeight]="50"
      [limit]="5"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="typeAttributes">
      <ngx-datatable-column name="Attribute Key ID" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.storageDsAttributeKeyId }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Attribute Key" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.storageDsAttributeKeyName }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Attribute Value">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-storageTypeAttributeValue'] = true"
              *ngIf="!editing[rowIndex + '-storageTypeAttributeValue']">
              {{row.storageTypeAttributeValue}}
            </span>
          <input
            autofocus
            (blur)="updateValue($event, 'storageTypeAttributeValue', rowIndex)"
            *ngIf="editing[rowIndex + '-storageTypeAttributeValue']"
            type="text"
            [value]="row.storageTypeAttributeValue"
          />
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <br>

    <div class="dialog-footer">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="!createForm.valid">Create</button>
    </div>

  </div>
</form>
