<div class="app-container">

  <div>
    <div class="detail-content-container">
      <md-input-container class="table-search">
        <input #searchDB mdInput (keyup)='search(searchDB.value)'>
        <md-placeholder>
          <md-icon class="icon-16">search</md-icon>
          Search
        </md-placeholder>
      </md-input-container>
      <button md-raised-button routerLink="." (click)="createClusterDialog()" class="app-details-btn">
        Create Cluster
      </button>
    </div>
  </div>
  <ngx-datatable
    #catalogClustersTables
    class="material favorites-datatable"
    [loadingIndicator]="loading"
    [rows]="displayList"
    [columnMode]="'force'"
    [headerHeight]="35"
    [footerHeight]="true"
    [scrollbarH]="true"
    [limit]="20"
    [rowHeight]="50"
    [sorts]="[{prop: 'clusterId', dir: 'asc'}]">
    <ngx-datatable-column name="Cluster ID" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.clusterId }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Cluster Name" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.clusterName }}
      </ng-template>
    </ngx-datatable-column>
    <!--<ngx-datatable-column name="Cluster Description" [width]="200" [sortable]="false">-->
    <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
    <!--{{ row.clusterDescription}}-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <ngx-datatable-column name="Livy Endpoint" [width]="100" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.livyEndPoint }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Running Port" [width]="100" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.livyPort }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Status" [width]="150" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span [ngSwitch]="row.isActiveYN">
          <md-icon class="favorite-success" *ngSwitchCase="'Y'" style="color:yellowgreen;">airplanemode_active</md-icon>
          <md-icon class="favorite-danger" *ngSwitchCase="'N'" style="color:red;">airplanemode_inactive</md-icon>
        </span>
        <span *ngIf="row.isActiveYN == 'Y'">Active</span>
        <span *ngIf="row.isActiveYN == 'N'">In-Active</span>
      </ng-template>
    </ngx-datatable-column>

    <span>
      <ngx-datatable-column name="Actions" [width]="150" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <app-catalog-cluster-action
          [clusterId]="row.clusterId"
          [clusterName]="row.clusterName"
          [clusterDescription]="row.clusterDescription"
          [createdUser]="row.createdUser"
          [isActiveYN]="row.isActiveYN"
          [livyEndPoint]="row.livyEndPoint"
          [livyPort]="row.livyPort"
          (refresh)=refreshRow($event)>
        </app-catalog-cluster-action>
      </ng-template>
    </ngx-datatable-column>
    </span>

  </ngx-datatable>
</div>
