<div class="app-top-container">
  <div class="app-container">
    <div fxLayout="row" fxLayoutAlign="right right" fxLayoutWrap="wrap">
      <div fxFlex="100" class="main-container">
        <md-card>
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="100%">
                <img class="udc_logo pull-left" src="assets/images/hadoop-logo.png">
              </div>
              <div fxFlex="50%">
                <img class="udc_logo pull-center" src="assets/images/bridge.png">
              </div>
              <div fxFlex="100%">
                <img class="udc_logo pull-right" src="assets/images/udc-logo.png">
              </div>
            </div>
          </div>
          <br/>
          <md-tab-group>
            <md-tab label="Clusters">
              <app-catalog-cluster-list></app-catalog-cluster-list>
            </md-tab>
          </md-tab-group>
        </md-card>
      </div>
    </div>
  </div>
</div>
