@import '~@angular/material/theming';

.search-result-card {
  padding: 0;
  max-height: 600px;
  overflow: auto;
  position: relative;
  top: 20px;
  width: 512px;
}

.search-result-button {
  margin-left: -3px;
}

:host /deep/ .md-list-text {
  order: 2;
  padding-left: 11px !important;
}

md-list-item a {
  padding: 10px 0;
}

:host /deep/ .md-tab-label {
  height: 40px !important;
  line-height:40px !important;
  font-size: 13px !important;
}

.lightgray {
  padding-top: 5px;
  color: mat-color(mat-palette($mat-grey, 500));
}
