<!--
Copyright 2019 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<mat-tab-group>


  <mat-tab label="Overview">
    <div class="app-container" *ngIf="!detailsLoading">
      <mat-grid-list cols="2" rowHeight="300">
        <mat-grid-tile>
          <mat-list dense>
            <mat-list-item>
              <table>
                <tr>
                  <td><h4>Object ID</h4></td>
                  <td>{{statusData.objectId}}</td>
                </tr>
                <tr>
                  <td><h4>Object Name</h4></td>
                  <td>{{statusData.objectName}}</td>
                </tr>
                <tr>
                  <td><h4>Container Name</h4></td>
                  <td>{{statusData.containerName}}</td>
                </tr>
                <tr>
                  <td><h4>Is it Discovered </h4></td>
                  <td>{{isSelfDiscovered}}</td>
                </tr>
              </table>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list dense>
            <mat-list-item>
              <table>
                <tr>
                  <td><h4>Created By</h4></td>
                  <td>{{statusData.createdUserOnStore}}</td>
                </tr>
                <tr>
                  <td><h4>Created Timestamp</h4></td>
                  <td>{{statusData.createdTimestampOnStore}}</td>
                </tr>
                <tr>
                  <td><h4>Last Updated By</h4></td>
                  <td>{{statusData.updatedUser}}</td>
                </tr>
                <tr>
                  <td><h4>Updated Timestamp</h4></td>
                  <td>{{statusData.updatedTimestamp}}</td>
                </tr>
              </table>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="app-container" *ngIf="detailsLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-tab>
  <mat-tab label="Schema Details">
    <div class="app-container" *ngIf="!detailsLoading">
      <ngx-datatable
        #datasetColumnsTable
        class="material favorites-datatable"
        [loadingIndicator]="loading"
        [rows]="columnList"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="true"
        [scrollbarH]="true"
        [limit]="5"
        [rowHeight]="50">
        <ngx-datatable-column name="Column Name" [width]="20">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.columnName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Column Type" [width]="20">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.columnType}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Column Family" [width]="20">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.columnFamily">
              {{row.columnFamily}}
            </span>
            <span *ngIf="!row.columnFamily">
              <div>N/A</div>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="app-container" *ngIf="detailsLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-tab>
  <mat-tab label="Object Attributes">
    <div class="app-container" *ngIf="!detailsLoading">
      <ngx-datatable
        #datasetObjectAttributesTable
        class="material favorites-datatable"
        [loadingIndicator]="loading"
        [rows]="objectAttributesList"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="true"
        [scrollbarH]="true"
        [limit]="5"
        [rowHeight]="50">
        <!--<ngx-datatable-column name="Type Attribute ID" [width]="5">-->
          <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
            <!--{{row.storageDsAttributeKeyId}}-->
          <!--</ng-template>-->
        <!--</ngx-datatable-column>-->
        <ngx-datatable-column name="Type Attribute Value" [width]="20">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.storageDsAttributeKeyName}}
          </ng-template>
        </ngx-datatable-column>
        <!--<ngx-datatable-column name="Object Attribute ID" [width]="5">-->
          <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
            <!--{{row.objectAttributeValueId}}-->
          <!--</ng-template>-->
        <!--</ngx-datatable-column>-->
        <ngx-datatable-column name="Object Attribute Value" [width]="50">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.objectAttributeValue}}
          </ng-template>
        </ngx-datatable-column>
        <!--<ngx-datatable-column name="Object ID" [width]="5">-->
          <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
            <!--{{row.objectId}}-->
          <!--</ng-template>-->
        <!--</ngx-datatable-column>-->
      </ngx-datatable>
    </div>
    <div class="app-container" *ngIf="detailsLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-tab>
</mat-tab-group>
