@import '~@angular/material/theming';

.udc_logo {
  width: 75%;
  padding-top: 5px;
  padding-left: 23px;
}

.stats_logo {
  width: 50%;
  align: "middle"
}

.metric_header {
  color: #4154B2 !important;
  font-size: 25px !important;
}

.metric_count {
  color: #4154B2 !important;
  font-size: 35px !important;
}

.metric_text {
  color: gray !important;
  font-size: 15px !important;
}

.compute_logo {
  width: 90%;
  padding: 10px;
}

.data_logo {
  width: 90%;
  padding: 10px;
}
