<div class="app-top-container-search">

  <div class="app-container">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
      <div fxFlex="15" class="main-container">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div style="height: 175px">
              <img class="udc_logo" src="assets/images/udc-logo.png">
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="app-container app-container-searchbox">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
      <div fxFlex="50" class="main-container">
        <app-gh-searchbox></app-gh-searchbox>
      </div>
    </div>
  </div>
</div>
