<!--
Copyright 2019 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div [ngClass]="'dialog-heading-margin-bottom'">{{heading}}</div>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">


  <mat-form-field class="full-width">
    <input matInput required="true" placeholder="Object ID" value="{{objectId}}" disabled>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput #modifiedObjectName placeholder="Object Name" value="{{objectName}}"
           formControlName="modifiedObjectName">
    <mat-hint *ngIf="formErrors.modifiedObjectName" class="alert-danger">
      {{formErrors.modifiedObjectName}}
    </mat-hint>
    <mat-hint align="end">{{modifiedObjectName.value.length}} / {{maxCharsForName}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput #modifiedContainerName placeholder="Container Name"
           value="{{containerName}}" formControlName="modifiedContainerName">
    <mat-hint *ngIf="formErrors.modifiedContainerName" class="alert-danger">
      {{formErrors.modifiedContainerName}}
    </mat-hint>
    <mat-hint align="end">{{modifiedContainerName.value.length}} / {{maxCharsForAliasName}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput required="true" placeholder="Created User" value="{{createdUser}}" disabled>
  </mat-form-field>


  <mat-form-field class="full-width">
    <input matInput #updatedUser required="true" placeholder="Updated User" value="" formControlName="updatedUser">
    <mat-hint *ngIf="formErrors.updatedUser" class="alert-danger">
      {{formErrors.updatedUser}}
    </mat-hint>
    <mat-hint align="end">{{updatedUser.value.length}} / {{maxCharsForUserName}}</mat-hint>
  </mat-form-field>
  <br>

  <ngx-datatable
    #objectAttributesTable
    class="material"
    [headerHeight]="50"
    [limit]="5"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="objectAttributes">
    <ngx-datatable-column name="Attribute Key" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.storageDsAttributeKeyName }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Attribute Value">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-objectAttributeValue'] = true"
              *ngIf="!editing[rowIndex + '-objectAttributeValue']">
              {{row.objectAttributeValue}}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, 'objectAttributeValue', rowIndex)"
          *ngIf="editing[rowIndex + '-objectAttributeValue']"
          type="text"
          [value]="row.objectAttributeValue"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Is this customized ?">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-isCustomized'] = true"
              *ngIf="!editing[rowIndex + '-isCustomized']">
              {{row.isCustomized}}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, 'isCustomized', rowIndex)"
          *ngIf="editing[rowIndex + '-isCustomized']"
          type="text"
          [value]="row.isCustomized"
        />
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>

  <div class="dialog-footer">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button type="submit" color="primary" [disabled]="!editForm.valid">Update</button>
  </div>


</form>
