<div [ngClass]="'dialog-heading-margin-bottom'">{{heading}}</div>
<form [formGroup]="editTypeForm" (ngSubmit)="onSubmit()">

  <md-input-container class="full-width">
    <input mdInput required="true" placeholder="Type ID" value="{{storageTypeId}}" disabled>
  </md-input-container>


  <md-input-container class="full-width">
    <input mdInput #modifiedStorageTypeName placeholder="Type" value="{{storageTypeName}}"
           formControlName="modifiedStorageTypeName">
    <md-hint *ngIf="formErrors.modifiedStorageTypeName" class="alert-danger">
      {{formErrors.modifiedStorageTypeName}}
    </md-hint>
    <md-hint align="end">{{modifiedStorageTypeName.value.length}} / {{maxCharsForName}}</md-hint>
  </md-input-container>

  <md-input-container class="full-width">
    <textarea mdInput #modifiedStorageTypeDescription rows="5" placeholder="Description"
              value="{{storageTypeDescription}}" formControlName="modifiedStorageTypeDescription">
    </textarea>
    <md-hint *ngIf="formErrors.modifiedStorageTypeDescription" class="alert-danger">
      {{formErrors.modifiedStorageTypeDescription}}
    </md-hint>
    <md-hint align="end">{{modifiedStorageTypeDescription.value.length}} / {{maxCharsForDescName}}</md-hint>
  </md-input-container>


  <md-input-container class="full-width">
    <input mdInput required="true" placeholder="Created User" value="{{createdUser}}" disabled>
  </md-input-container>


  <md-input-container class="full-width">
    <input mdInput #updatedUser required="true" placeholder="Updated User" value="" formControlName="updatedUser">
    <md-hint *ngIf="formErrors.updatedUser" class="alert-danger">
      {{formErrors.updatedUser}}
    </md-hint>
    <md-hint align="end">{{updatedUser.value.length}} / {{maxCharsForUserName}}</md-hint>
  </md-input-container>

  <div fxLayout="row" fxLayoutAlign="start start" class="field-row appname-row">
    <md-input-container class="m-md">
      <input mdInput placeholder="Attribute Key" formControlName="attributeKey">
    </md-input-container>
    <md-input-container class="m-md">
      <input mdInput placeholder="Description" formControlName="attributeDesc">
    </md-input-container>
    <div fxFlex="55" fxFlexAlign="center" class="m-md">
      <md-select placeholder="Storage System Level"
                 [floatPlaceholder]="'never'"
                 formControlName="isStorageSystemLevel">
        <md-option value="Y">Yes</md-option>
        <md-option value="N">No</md-option>
      </md-select>
    </div>
    <div class="m-lg">
      <button md-raised-button class="app-details-btn" type="button" [disabled]="!editTypeForm.valid"
              (click)="addToAttributes()">Add
      </button>
    </div>
  </div>

  <ngx-datatable
    #typeAttributesTable
    class="material"
    [headerHeight]="50"
    [limit]="5"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="typeAttributes">
    <ngx-datatable-column name="Attribute Name">
      <ng-template ngx-datatable-cell-template let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-storageDsAttributeKeyName'] = true"
              *ngIf="!editing[row.$$index + '-storageDsAttributeKeyName']">
              {{row.storageDsAttributeKeyName}}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, 'storageDsAttributeKeyName', row)"
          *ngIf="editing[row.$$index + '-storageDsAttributeKeyName']"
          type="text"
          [value]="row.storageDsAttributeKeyName"
        />
      </ng-template>
    </ngx-datatable-column>
    <!--<ngx-datatable-column name="Is Storage System Level">-->
    <!--<ng-template ngx-datatable-cell-template let-row="row">-->
    <!--<span-->
    <!--title="Double click to edit"-->
    <!--(dblclick)="editing[row.$$index + '-isStorageSystemLevel'] = true"-->
    <!--*ngIf="!editing[row.$$index + '-isStorageSystemLevel']">-->
    <!--{{row.isStorageSystemLevel}}-->
    <!--</span>-->
    <!--<select-->
    <!--*ngIf="editing[row.$$index + '-isStorageSystemLevel']"-->
    <!--(blur)="editing[row.$$index + '-isStorageSystemLevel'] = false"-->
    <!--(change)="updateValue($event, 'isStorageSystemLevel', row)"-->
    <!--[value]="row.isStorageSystemLevel">-->
    <!--<option value="Y">Yes</option>-->
    <!--<option value="N">No</option>-->
    <!--</select>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <ngx-datatable-column name="Is Storage System Level" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.isStorageSystemLevel }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Status">
      <ng-template ngx-datatable-cell-template let-row="row">
         <span
           title="Double click to edit"
           (dblclick)="editing[row.$$index + '-isActiveYN'] = true"
           *ngIf="!editing[row.$$index + '-isActiveYN']">
          {{row.isActiveYN}}
        </span>
        <select
          *ngIf="editing[row.$$index + '-isActiveYN']"
          (blur)="editing[row.$$index + '-isActiveYN'] = false"
          (change)="updateValue($event, 'isActiveYN', row)"
          [value]="row.isActiveYN">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>

  <ngx-datatable
    #newTypeAttributesTable
    class="material favorites-datatable"
    [rows]="newTypeAttributes"
    [columnMode]="'force'"
    [headerHeight]="35"
    [footerHeight]="true"
    [scrollbarH]="true"
    [scrollbarV]="true"
    [rowHeight]="50">
    <ngx-datatable-column name="Attribute Key" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.storageDsAttributeKeyName }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Attribute Description" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.storageDsAttributeKeyDesc }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Is Storage System Level" [width]="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.isStorageSystemLevel }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>

  <div class="dialog-footer">
    <button md-button type="button" (click)="cancel()">Cancel</button>
    <button md-button type="submit" color="primary" [disabled]="!editTypeForm.valid">Update</button>
  </div>


</form>
