<div class="app-top-container">
  <div class="app-container">
    <div fxLayout="row" fxLayoutAlign="right right" fxLayoutWrap="wrap">
      <div fxFlex="100" class="main-container">
        <md-card>
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="100%">
                <img class="storages pull-left" src="assets/images/categories.png">
              </div>
              <div fxFlex="100%">
                <img class="udc_logo1 pull-right" src="assets/images/udc-logo.png">
              </div>
            </div>
          </div>
          <br/>
          <md-tab-group>
            <md-tab label="Datastore Categories">
              <app-catalog-category-list></app-catalog-category-list>
            </md-tab>
          </md-tab-group>
        </md-card>
      </div>
    </div>
  </div>
</div>
